body {

}

.etchContainer {
    width: 480px;
    height: 480px;
    margin: auto;
    padding-top: 200px;
}

.etchTile {
    border: 1px solid black;
    height: 28px;
    width: 28px;
    float: left;
}

.black {
    background-color: black;
}