body {

}

.etchContainer {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 2px 2px 10px 1px
}

.etchTile {
    border: 1px groove black;
    float: left;
}

.black {
    background-color: black;
}

#buttonsContainer {
    width: 50vh;
    margin: auto;
    padding-top: 5vh;
}