body {

}

.etchContainer {
    width: 480px;
    height: 480px;
    margin: auto;
    padding-top: 100px;
}

.etchTile {
    border: 1px groove black;
    float: left;
    box-shadow: 1px 1px 2px
}

.black {
    background-color: black;
}

#buttonsContainer {
    width: 50vh;
    margin: auto;
    padding-top: 5vh;
}